@import url("colors.css");

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
}

html{
    font-size: 62.5%;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: var(--secondary-color);
    border-radius: 2rem;
    width: 40rem;
    height: 50rem;
    padding: 2rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    height: 100%;
}

h1{
    font-family: "Vazir";
    font-size: 4rem;
    z-index: 2;
    color: white;
}

h3{
    font-family: "Vazir";
    font-size: 1.2rem;
    color: white;
}

p{
    font-family: "Vazir";
    font-size: 1.4rem;
    color: white;
}

h1 > span{
    color: white;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.username input{
    font-family: "Vazir";
    border-radius: 0.5rem;
    border: 0.1rem solid #c2c2c2;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
    padding: 0.4rem;
    background-color: #282828;
    color: white;
}

.password{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.password input{
    background-color: #282828;
    color: white;
}

input{
    font-family: "Vazir";
    border-radius: 0.5rem;
    border: 0.1rem solid #c2c2c2;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
    padding: 0.4rem;
}

button{
    font-family: "Vazir";
    padding: 1rem;
    min-width: 10rem;
    border-radius: 0.5rem;
    background-color: var(--blue);
    border: none;
    color: white;
}

button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

button:disabled{
    background-color: grey;
    cursor: auto;
}

.hubcolor{
    position: absolute;
    background-color: var(--blue);
    top: 1%;
    left: 27%;
    width: 8rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.fail{
    color: yellow;
}